/*Login*/
.containerOwnApp	{
	box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}

.login-page {
  padding: 8% 0 0;
  margin: 0 auto 100px;
  max-width: 360px;
  position: relative;
}

.login-form {
	box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}

.login-form-header{
	padding-top: 16px;
}

.login-from-row {
	padding-top: 16px;
	padding-bottom: 16px;
}

.login-form-font-header {
	font-size:30px; 
	font-weight: bold;
}
.login-form-font-header span {
	color: #32cd32;
}

.btn__update{
    display: inline-block;
    font-size: 14px;
    background: #11A435;
    color: #F4F6F7;
    border-radius: 5px;
    padding: 5px 10px;
}



